[submodule "multiverse_network"]
	path = multiverse_network
	url = git@github.com:ShawnshanksGui/multiverse_network.git
[submodule "multiverse_system"]
	path = multiverse_system
	url = git@github.com:Harnets/multiverse_system.git
